# --- Deny-all by default ---
*

# --- allow all directories at every depth
!**/

# --- allow repo control and config files ---
!/.gitignore
!index.md
!README.md
!LICENSE
!LICENSE-CODE
!.github/
!_config.yml
!index.html
!.env.example
!pyproject.toml
!.devcontainer/
!.devcontainer/devcontainer.json
!.devcontainer/Dockerfile
!.devcontainer/setup.sh

# --- allow course tools bundled with the repo
!src/**
# but leave out egg-info (machine-specific file created by pip install)
*.egg-info
# and leave out python bytecode cache dirs
__pycache__/

# --- allow public course content ---
!/Emory_small.png
!syllabus.pdf
!Module 1/Week 1 - Asset classes/Asset classes.ipynb
!Module 1/Week 1 - Asset classes/Asset classes.slides.pdf
!Module 1/Week 2 - Investment returns, portfolios, and indexes/Investment returns, portfolios, and indexes.ipynb
!Module 1/Week 2 - Investment returns, portfolios, and indexes/Investment returns, portfolios, and indexes.slides.pdf
!Module 1/Week 3 - Fund structures/Funds.ipynb
!Module 1/Week 3 - Fund structures/Funds.slides.pdf
!Module 1/Week 4 - Evidence on investment performance/Evidence on investment performance.ipynb
!Module 1/Week 4 - Evidence on investment performance/Evidence on investment performance.slides.pdf
!Module 2/Week 6 - Diversification and portfolio optimization/Diversification and portfolio optimization.ipynb
!Module 2/Week 6 - Diversification and portfolio optimization/Diversification and portfolio optimization.slides.pdf
!Module 2/Week 8 - CAPM and investment styles/CAPM and investment styles.ipynb
!Module 2/Week 8 - CAPM and investment styles/CAPM and investment styles.slides.pdf
!Module 2/Week 8 - CAPM and investment styles/Homework 2 example.ipynb
!Module 2/Week 8 - CAPM and investment styles/Homework 2 example.slides.pdf
!Module 3/Week 11 - Short sales and dollar-neutral strategies/Short sales and dollar-neutral strategies.ipynb
!Module 3/Week 11 - Short sales and dollar-neutral strategies/Short sales and dollar-neutral strategies.slides.pdf
!Module 3/Week 12 - Factor models/Factor models.ipynb
!Module 3/Week 12 - Factor models/Factor models.slides.pdf
!Module 3/Week 13 - Derivatives/Derivatives.slides.pdf
!Module 3/Week 14 - The profitability factor/Profitability.ipynb
!Module 3/Week 14 - The profitability factor/Profitability.slides.pdf